@{
    ViewData["Title"] = "Specify the Parameter Values";
}
@model String[]

<h2>File Successfully Uploaded</h2>
<button type="button" class="btn btn-dark" data-toggle="modal" data-target="#exampleModal">
    Add Parameters 
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Parameters</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="paramsForm" action="@Url.Action("SubmitNew")" method="POST">
                    @{ foreach (string item in Model)
                        {
                            <div class="row">

                                <div class="form-group col-md-6">
                                    <label for="my-input">@item</label>
                                    <input id="my-input" class="form-control" type="text" name="@item">
                                </div>

                            </div>
                        }
                    }
                    <button type="submit" class="btn btn-success">Verify</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>