@{
    ViewData["Title"] = "Error";
}

<div class="row">
    <div>
        <h1>Task Failed</h1>
    </div>
</div><br />

<div class="row">
    <div style="margin-right:10px;">
        <a class="btn btn-dark" asp-controller="Home" asp-action="Index">Back To Main Page</a>
    </div>
</div><br />