@{
    ViewData["Title"] = "Home Page";
}

<style>a {color:black;}</style>

<div class="row">
    <div class="col-md-10">
        <h1>Please choose an option below</h1>
    </div>
</div><br/>

<div class="row justify-content-around text-center ">
    <div class="col-md-5 border border-primary rounded bg-warning">
        <a asp-area="" asp-controller="Home" asp-action="ViewReadyList"><h3>Compose Ready</h3></a>
    </div>
    <div></div>
    <div class="col-md-5 border border-primary rounded bg-warning">
        <a asp-area="" asp-controller="Home" asp-action="ViewTemplateList"><h3>Compose Template</h3></a>
    </div>
</div><br />

<div class="row justify-content-around text-center">
    <div class="col-md-5 border border-primary rounded bg-warning">
        <a asp-area="" asp-controller="Home" asp-action="Upload"><h3>Upload Compose</h3></a>
    </div>
    <div></div>
    <div class="col-md-5 border border-primary rounded bg-warning">
        <a asp-area="" asp-controller="Home" asp-action="RunningReadyFiles"><h3>View Running Compose Services</h3></a>
    </div>
</div>



