
@{
    ViewData["Title"] = "RunComposeFile";
}

<div style="text-align:center">
     <h1>Please Wait</h1>
    <h4>Setting Up Your Compose Service</h4>

    <div class="spinner-border text-success" role="status">
        <span class="sr-only">Loading...</span>
    </div>

    
</div><br />

<div style="background-color:lightblue; height:30px;">
    Page will be redirected automatically. If not press the link to see <a href="@Url.Action("RunningReadyFiles", "Home")">all running composite files</a>
</div>

<script>window.setTimeout(function ()
    {
        window.location.href = "@Url.Action("RunningReadyFiles", "Home")";
    }, 5000);
</script>