@{
    ViewData["Title"] = "Verified";
}

<div class="row">
    <div>
        <h1>Compose Template File Successfully Verified</h1>
    </div>
</div><br />

<div class="row">
    <div style="margin-right:10px;">
        <a class="btn btn-dark" asp-controller="Home" asp-action="Index">Back To Main Page</a>
    </div>
    <div>
        <a class="btn btn-success" asp-controller="Home" asp-action="ViewTemplateList">Try Out Your New Template</a>
    </div>
</div><br />

