
@{
    ViewData["Title"] = "Ready List";
}

<style>
    a {
        text-decoration: none;
        color: black;
    }

        a:hover {
            text-decoration: none;
            background-color: lightgrey;
        }

    #tile {
        margin-bottom: 25px;
    }
</style>

<h2>Ready Compose Files</h2><hr />

<div class="row">
    @foreach (CompositeModel containers in Model)
    {
        <div class="col-md-6" id="tile">
            <a href='@Url.Action("ReadyFileDetails", "Home", new { cName = containers.Name })' class="list-group-item">
                <h4 class="list-group-item-heading">@containers.Name</h4>
                @foreach (ContainerModel images in containers.ContainersFromFile)
                {
                    <h6 class="list-group-item-text">@images.Name : </h6><h7>@images.Image</h7>
                }
            </a>
        </div>
    }
</div>

